body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #F8C8DC;
}

h1 { font-family: "Brush Script MT", cursive; 
    font-size: 48px;
    color: #643649; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; }

.tenor-container {
    display: flex;
    justify-content: center;
    align-items: center;
}